.chart-container{
    text-align: center;
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.outercontainer{
   background-color: rgb(16, 26, 26);
}

h1{
    color: white;
}