.noteContainer {
	height: 100%;

	width: 10%;
}
.noteContainer h1 {
	margin-bottom: 10px;
}
h1 {
	color: black;
}
.noteContainer-notes {
	height: 90%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	width: 10px;
	gap: 20px;
}
